<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Live Soccer Scores</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                        mat-button [matMenuTriggerFor]="menu">Championships</a>
                    <mat-menu #menu="matMenu">
                        <button *ngFor="let c of competitions" (click)="detailChampionnats(c.code)" mat-menu-item><img
                                [src]="c.logo" width="25" height="25"> {{c.name}}</button>
                    </mat-menu>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about">About</a>
                </li>
            </ul>
            <form [formGroup]="searchForm" class="d-flex w-50" role="search">
                <input formControlName="search" class="form-control" type="search" placeholder="Search"
                    aria-label="Search" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <ng-container *ngIf="suggestions.length > 0">
                        <mat-option *ngFor="let suggestion of suggestions">
                            <app-suggestion-competition [suggestion]="suggestion"></app-suggestion-competition>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </form>
        </div>
    </div>
</nav>
