<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6 class="about_footer" routerLink="about">About</h6>
          <p class="text-justify">This is our website that allows to preview live soccer scores, fixtures and results.

            <br>It has been created in the context of a Web Development Project at CSUN.

            <br>It has been developed with Angular 11 and uses the API Football Data.

            <br>The code source is available on GitHub.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Championships</h6>
          <ul class="footer-links">
            <li><a routerLink="competition/WC">Fifa World Cup</a></li>
            <li><a routerLink="competition/CL">UEFA Championpions League</a></li>
            <li><a routerLink="competition/BSA">Campeonato Brasileiro Série A</a></li>
            <li><a routerLink="competition/ELC">Championship</a></li>
            <li><a routerLink="competition/PL">Premier League</a></li>
            <li><a routerLink="competition/FL1">Ligue 1</a></li>
            <li><a routerLink="competition/BL1">Bundesliga</a></li>
            <li><a routerLink="competition/PPL">Primeira Liga</a></li>
            <li><a routerLink="competition/EC">European Championship</a></li>
            <li><a routerLink="competition/SA">Serie A</a></li>
            <li><a routerLink="competition/DED">Eredivisie</a></li>
            <li><a routerLink="competition/CLI">Copa Libertadores</a></li>
            <li><a routerLink="competition/PD">Primera Division</a></li>

          </ul>
        </div>

      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by SoccerScore.
          </p>
        </div>
      </div>
    </div>
</footer>
