<div>
    <h1>About us</h1>
    <p>WinIsen is a website that allows people to follow in real time football championships results.</p>
    <p>This website was realised for our final project in CIT384 at <strong>CSUN</strong>.</p>
    <p>It was developed with Angular 11 and uses the API <a href="https://www.football-data.org/" target="_blank">Football Data</a>.</p>
    <p>The code source is available at <a href="https://github.com/Loicpln/WinIsen" target="_blank">GitHub</a>.</p>

    <h1>Our team</h1>
<p>Our team is composed of <strong>Solène Dufournaud</strong>, <strong>Evelyn Mendienta</strong> and <strong>David Torres</strong>.</p>
</div>
